.card {
  width: 200px;
  margin: 20px;
}

img {
  width: 200px;
}

.alive {
  border: 5px green solid;
  border-radius: 10px;
  background-color: rgb(72, 209, 102);
}

.dead {
  border: 5px red solid;
  border-radius: 10px;
  background-color: rgb(235, 78, 78);
}
